* Pandas is a newer package built on top of NumPy,
* Provides an efficient implementation of a DataFrame. 
* DataFrames are essentially multidimensional arrays with attached row and column labels, and often with heterogeneous types 
* Pandas implements a number of powerful data operations familiar to users of both database frameworks and spreadsheet programs.
* Series, DataFrame, Index, TimeSeries

##### Panda Series
* One dimensional array of indexed data

In [1]:
import pandas as pd

In [2]:
ser1 = pd.Series([11,2,5,9])

In [3]:
ser1.values

array([11,  2,  5,  9], dtype=int64)

In [4]:
ser1.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
ser1

0    11
1     2
2     5
3     9
dtype: int64

In [6]:
ser1[1]

2

In [7]:
ser1 = pd.Series([11,2,5,9] , index=[7,8,9,10])

In [8]:
ser1

7     11
8      2
9      5
10     9
dtype: int64

In [9]:
ser1[7]

11

In [10]:
ser1 = pd.Series([11,2,5,9] , index=['a','b','c','d'])

In [11]:
ser1

a    11
b     2
c     5
d     9
dtype: int64

In [12]:
ser1['a']

11

In [13]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

In [14]:
population_dict

{'California': 38332521,
 'Florida': 19552860,
 'Illinois': 12882135,
 'New York': 19651127,
 'Texas': 26448193}

In [15]:
# Convert dictionary to series
population = pd.Series(population_dict)

In [16]:
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

In [17]:
population['California':'New York']

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
dtype: int64

In [18]:
population = pd.Series(population_dict , index=['Illinois','New York'])

In [19]:
population

Illinois    12882135
New York    19651127
dtype: int64

##### DataFrame
* Collection of series
* This is analog to two-dimentional array

In [20]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)

In [21]:
area_dict = {'California': 423967, 
             
             'Illinois': 149995,
              'Texas': 695662, 
             'New York': 141297,
             'Florida': 170312}
area = pd.Series(area_dict)

In [22]:
# Creating dataframes using series
states = pd.DataFrame({'population':population, 'area':area})

In [23]:
import numpy as np
np.sum(states['area'].values)

1581233

In [24]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [25]:
states

              area  population
California  423967  38332521.0
Florida     170312  19552860.0
Illinois    149995  12882135.0
New York    141297         NaN
Texas       695662  26448193.0

In [26]:
states[['area']].sum()

area    1581233
dtype: int64

In [27]:
type(states['area'])

pandas.core.series.Series

In [28]:
type(states[['area']])

pandas.core.frame.DataFrame

In [29]:
states[['area','population']].sum()

area           1581233.0
population    97215709.0
dtype: float64

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/california_cities.csv')

In [4]:
df.head()

,Unnamed: 0,city,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
0,0,Adelanto,34.576111,-117.432778,875.0,2871.0,31765,56.027,56.009,0.018,145.107,145.062,0.046,0.03
1,1,AgouraHills,34.153333,-118.761667,281.0,922.0,20330,7.822,7.793,0.029,20.260,20.184,0.076,0.37
2,2,Alameda,37.756111,-122.274444,NaN,33.0,75467,22.960,10.611,12.349,59.465,27.482,31.983,53.79
3,3,Albany,37.886944,-122.297778,NaN,43.0,18969,5.465,1.788,3.677,14.155,4.632,9.524,67.28
4,4,Alhambra,34.081944,-118.135000,150.0,492.0,83089,7.632,7.631,0.001,19.766,19.763,0.003,0.01

In [5]:
df

,Unnamed: 0,city,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
0,0,Adelanto,34.576111,-117.432778,875.0,2871.0,31765,56.027,56.009,0.018,145.107,145.062,0.046,0.03
1,1,AgouraHills,34.153333,-118.761667,281.0,922.0,20330,7.822,7.793,0.029,20.260,20.184,0.076,0.37
2,2,Alameda,37.756111,-122.274444,NaN,33.0,75467,22.960,10.611,12.349,59.465,27.482,31.983,53.79
3,3,Albany,37.886944,-122.297778,NaN,43.0,18969,5.465,1.788,3.677,14.155,4.632,9.524,67.28
4,4,Alhambra,34.081944,-118.135000,150.0,492.0,83089,7.632,7.631,0.001,19.766,19.763,0.003,0.01
5,5,AlisoViejo,33.575000,-117.725556,127.0,417.0,47823,7.472,7.472,0.000,19.352,19.352,0.000,0.00
6,6,Alturas,41.487222,-120.542500,1332.0,4370.0,2827,2.449,2.435,0.014,6.342,6.306,0.036,0.57
7,7,AmadorCity,38.419444,-120.824167,280.0,919.0,185,0.314,0.314,0.000,0.813,0.813,0.000,0.00
8,8,AmericanCanyon,38.168056,-122.252500,14.0,46.0,19454,4.845,4.837,0.008,12.548,12.527,0.021,0.17
9,9,Anaheim,33.836111,-117.889722,48.0,157.0,336000,50.811,49.835,0.976,131.600,129.073,2.527,1.92
10,10,Anderson,40.452222,-122.296667,132.0,430.0,9932,6.620,6.372,0.248,17.145,16.504,0.642,3.74
11,11,AngelsCamp,38.068333,-120.539722,420.0,1378.0,3836,3.637,3.628,0.009,9.421,9.397,0.024,0.25
12,12,Antioch,38.005000,-121.805833,13.0,43.0,107100,29.083,28.349,0.734,75.324,73.422,1.902,2.52
13,13,AppleValley,34.516667,-117.216667,898.0,2946.0,69135,73.523,73.193,0.330,190.426,189.570,0.856,0.45
14,14,Arcadia,34.132778,-118.036389,147.0,482.0,56364,11.133,10.925,0.208,28.836,28.296,0.540,1.87
15,15,Arcata,40.866389,-124.082778,NaN,23.0,17231,10.994,9.097,1.897,28.473,23.561,4.912,17.25
16,16,ArroyoGrande,35.120833,-120.586667,36.0,118.0,17716,5.835,5.835,0.000,15.113,15.113,0.000,0.00
17,17,Artesia,33.867222,-118.080556,16.0,52.0,16522,1.621,1.621,0.000,4.197,4.197,0.000,0.00
18,18,Arvin,35.209167,-118.828333,137.0,449.0,19304,4.819,4.819,0.000,12.482,12.482,0.000,0.00
19,19,Atascadero,35.484167,-120.672500,268.0,879.0,28310,26.130,25.641,0.489,67.675,66.409,1.265,1.87
20,20,Atherton,37.458611,-122.200000,18.0,59.0,6914,5.049,5.017,0.032,13.076,12.993,0.082,0.63
21,21,Atwater,37.347778,-120.609167,46.0,151.0,28168,6.096,6.087,0.009,15.788,15.766,0.022,0.14
22,22,Auburn,38.898611,-121.074444,374.0,1227.0,13330,7.166,7.138,0.028,18.560,18.488,0.071,0.38
23,23,Avalon,33.340833,-118.327778,9.0,30.0,3728,2.937,2.935,0.002,7.607,7.602,0.005,0.07
24,24,Avenal,36.004167,-120.128889,246.0,807.0,13239,19.422,19.422,0.000,50.302,50.302,0.000,0.00
25,25,Azusa,34.130556,-117.906944,186.0,610.0,46361,9.669,9.656,0.013,25.042,25.010,0.032,0.13
26,26,Bakersfield,35.366667,-119.016667,NaN,404.0,347483,143.609,142.164,1.445,371.946,368.204,3.742,1.01
27,27,BaldwinPark,34.082778,-117.971667,114.0,374.0,75390,6.786,6.631,0.155,17.575,17.174,0.400,2.28
28,28,Banning,33.931667,-116.897500,716.0,2349.0,29603,23.099,23.099,0.000,59.826,59.826,0.000,0.00
29,29,Barstow,34.900000,-117.016667,664.0,2178.0,22639,41.394,41.385,0.009,107.209,107.186,0.023,0.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,452,Vista,33.193611,-117.241111,99.0,325.0,93834,18.678,18.678,0.000,48.377,48.377,0.000,0.00
453,453,Walnut,34.033333,-117.866667,171.0,561.0,29172,8.996,8.992,0.004,23.300,23.290,0.010,0.04
454,454,WalnutCreek,37.906389,-122.065000,NaN,131.0,64173,19.769,19.757,0.012,51.201,51.169,0.031,0.06
455,455,Wasco,35.594167,-119.340833,100.0,328.0,25545,9.426,9.426,0.000,24.413,24.413,0.000,0.00
456,456,Waterford,37.645000,-120.767500,52.0,171.0,8456,2.369,2.328,0.041,6.135,6.030,0.105,1.72
457,457,Watsonville,36.920000,-121.763611,9.0,29.0,51199,6.783,6.687,0.096,17.569,17.319,0.250,1.42
458,458,Weed,41.424167,-122.384444,1044.0,3425.0,2967,4.795,4.790,0.005,12.417,12.405,0.012,0.10
459,459,WestCovina,34.056667,-117.918611,110.0,362.0,106098,16.090,16.041,0.049,41.671,41.545,0.126,0.30
460,460,WestHollywood,34.087778,-118.372222,86.0,282.0,34650,1.887,1.887,0.000,4.888,4.888,0.000,0.00
461,461,WestlakeVillage,34.141944,-118.819444,268.0,880.0,8270,5.509,5.185,0.320,14.257,13.430,0.828,5.80
462,462,Westminster,33.751389,-117.993889,12.0,39.0,89701,10.049,10.049,0.000,26.027,26.027,0.000,0.00
463,463,Westmorland,33.037222,-115.621389,NaN,-164.0,2225,0.590,0.590,0.000,1.529,1.529,0.000,0.00
464,464,WestSacramento,38.580556,-121.530278,6.0,20.0,48744,22.846,21.425,1.421,59.172,55.491,3.681,6.22
465,465,Wheatland,39.010000,-121.423056,28.0,92.0,3456,1.486,1.479,0.007,3.848,3.831,0.017,0.45
466,466,Whittier,33.965556,-118.024444,112.0,367.0,85331,14.700,14.700,0.016,37.000,37.000,0.041,0.11
467,467,Wildomar,33.603611,-117.272778,387.0,1270.0,32176,23.688,23.688,0.000,61.351,61.351,0.000,0.00
468,468,Williams,39.154722,-122.149444,25.0,82.0,5123,5.444,5.444,0.000,14.101,14.101,0.000,0.00
469,469,Willits,39.409722,-123.355556,424.0,1391.0,4888,2.803,2.798,0.005,7.260,7.248,0.013,0.17
470,470,Willows,39.524444,-122.193611,42.0,138.0,6166,2.873,2.847,0.026,7.441,7.373,0.068,0.92
471,471,Windsor,38.546111,-122.805278,36.0,118.0,26801,7.293,7.268,0.025,18.888,18.824,0.064,0.34
472,472,Winters,38.525000,-121.970833,40.0,131.0,6624,2.937,2.912,0.025,7.607,7.543,0.065,0.85
473,473,Woodlake,36.416389,-119.099444,134.0,440.0,7279,2.765,2.248,0.517,7.159,5.821,1.338,18.69
474,474,Woodland,38.678611,-121.773333,21.0,69.0,55468,15.303,15.303,0.000,39.634,39.634,0.000,0.00
475,475,Woodside,37.420833,-122.259722,117.0,384.0,5287,11.732,11.732,0.000,30.386,30.386,0.000,0.00
476,476,YorbaLinda,33.888551,-117.813231,82.3,270.0,65237,20.018,19.483,0.535,51.847,50.460,1.387,2.67
477,477,Yountville,38.403056,-122.362222,30.0,98.0,2933,1.531,1.531,0.000,3.966,3.966,0.000,0.00
478,478,Yreka,41.726667,-122.637500,787.0,2582.0,7765,10.053,9.980,0.073,26.036,25.847,0.188,0.72
479,479,YubaCity,39.134722,-121.626111,18.0,59.0,64925,14.656,14.578,0.078,37.959,37.758,0.201,0.53
480,480,Yucaipa,34.030278,-117.048611,798.0,2618.0,51367,27.893,27.888,0.005,72.244,72.231,0.013,0.02
481,481,YuccaValley,34.133333,-116.416667,1027.0,3369.0,20700,40.015,40.015,0.000,103.639,103.639,0.000,0.00

In [14]:
df2 = df[['city', 'elevation_m', 'population_total']]

df2[df2['population_total'] > 31000]

               city  elevation_m  population_total
0          Adelanto       875.00             31765
2           Alameda          NaN             75467
4          Alhambra       150.00             83089
5        AlisoViejo       127.00             47823
9           Anaheim        48.00            336000
12          Antioch        13.00            107100
13      AppleValley       898.00             69135
14          Arcadia       147.00             56364
25            Azusa       186.00             46361
26      Bakersfield          NaN            347483
27      BaldwinPark       114.00             75390
30         Beaumont       796.00             36877
31             Bell        43.00             35477
32       Bellflower        22.00             76616
33      BellGardens        37.00             42072
37         Berkeley       200.00            112580
38     BeverlyHills        79.00             34290
46             Brea       110.00             39282
47        Brentwood          NaN             51481
50        BuenaPark        23.00             80530
51          Burbank       185.00            103340
54         Calexico          NaN             38572
59        Camarillo        54.00             65201
60         Campbell        60.00             39349
63         Carlsbad        16.00            105328
66           Carson         8.20             91714
67    CathedralCity       100.00             51200
68            Ceres        28.00             45417
69         Cerritos        14.00             49041
70            Chico        74.00             86187
..              ...          ...               ...
421        Stockton         4.00            301090
423       Sunnyvale        39.00            140081
429        Temecula       310.59            105208
430      TempleCity       122.00             35558
431    ThousandOaks       270.00            128374
433        Torrance        27.00            147027
434           Tracy        16.00             82922
437          Tulare        88.00             59278
439         Turlock        31.00             69733
440          Tustin        43.00             75540
443       UnionCity          NaN             72155
444          Upland       405.00             73732
445       Vacaville        53.00             92428
446         Vallejo        21.00            115942
447         Ventura          NaN            106433
449     Victorville       832.00            120336
451         Visalia       101.00            124442
452           Vista        99.00             93834
454     WalnutCreek          NaN             64173
457     Watsonville         9.00             51199
459      WestCovina       110.00            106098
460   WestHollywood        86.00             34650
462     Westminster        12.00             89701
464  WestSacramento         6.00             48744
466        Whittier       112.00             85331
467        Wildomar       387.00             32176
474        Woodland        21.00             55468
476      YorbaLinda        82.30             65237
479        YubaCity        18.00             64925
480         Yucaipa       798.00             51367

[230 rows x 3 columns]